/* line 10, ../.sass/00-main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../.sass/00-main.scss */
input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 18, ../.sass/00-main.scss */
body {
  padding-top: 70px;
  overflow-y: scroll;
}

/* line 23, ../.sass/00-main.scss */
.social-item:hover [class^="icon-"] {
  color: #fff;
}

/* line 27, ../.sass/00-main.scss */
.icon-soundcloud {
  color: #fc3f00;
}

/* line 31, ../.sass/00-main.scss */
.icon-facebook-sign {
  color: #3B5998;
}

/* line 36, ../.sass/00-main.scss */
.current-user img {
  height: 25px;
}

/* line 41, ../.sass/00-main.scss */
.loader {
  width: 150px;
  margin: 0 auto 20px auto;
  text-align: center;
}

/* line 47, ../.sass/00-main.scss */
.room-form {
  margin-top: 40px;
}

/* line 51, ../.sass/00-main.scss */
.room-header {
  position: relative;
  margin-bottom: 20px;
}
/* line 55, ../.sass/00-main.scss */
.room-header form {
  position: absolute;
  bottom: 15px;
  right: 0;
  margin: 0;
}

/* line 65, ../.sass/00-main.scss */
.track {
  position: relative;
  height: 100px;
  margin-bottom: 10px;
  padding: 0 100px;
  border-right: 3px solid;
  border-color: #f09609;
}
/* line 74, ../.sass/00-main.scss */
.track.track-playing .track-vote-count {
  line-height: 100px;
}
/* line 78, ../.sass/00-main.scss */
.track.track-playing .waveform {
  display: block;
}

/* line 84, ../.sass/00-main.scss */
.track-artwork {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  text-align: center;
}

/* line 93, ../.sass/00-main.scss */
.track-info {
  position: relative;
  padding: 0 10px;
  height: 100%;
  line-height: 100px;
}
/* line 98, ../.sass/00-main.scss */
.track-info h3 {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  vertical-align: middle;
  z-index: 1;
}
/* line 107, ../.sass/00-main.scss */
.track-info h3 a {
  color: inherit;
}
/* line 109, ../.sass/00-main.scss */
.track-info h3 a:hover {
  text-decoration: none;
}
/* line 115, ../.sass/00-main.scss */
.track-info .waveform {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.3;
  z-index: 0;
}

/* line 128, ../.sass/00-main.scss */
.track-vote {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  text-align: center;
}
/* line 135, ../.sass/00-main.scss */
.track-vote a {
  font-size: 4em;
  vertical-align: middle;
}
/* line 138, ../.sass/00-main.scss */
.track-vote a:hover {
  text-decoration: none;
}
/* line 143, ../.sass/00-main.scss */
.track-vote .track-vote-count {
  font-size: 2em;
}

/* line 148, ../.sass/00-main.scss */
footer {
  margin-top: 40px;
}
/* line 150, ../.sass/00-main.scss */
footer .well {
  display: inline-block;
}
