/* line 18, ../.sass/00-main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../.sass/00-main.scss */
input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 25, ../.sass/00-main.scss */
.input-append .btn {
  height: 35px !important;
}

/* line 29, ../.sass/00-main.scss */
body {
  position: relative;
  padding-top: 70px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 39, ../.sass/00-main.scss */
#yt-player {
  position: absolute;
  top: 0;
  left: -999px;
}

/* line 45, ../.sass/00-main.scss */
.trackform {
  padding-top: 10px;
  margin: 0 0 0 15px;
}
/* line 49, ../.sass/00-main.scss */
.trackform input {
  width: 350px;
}

/* line 54, ../.sass/00-main.scss */
.social-item:hover [class^="icon-"] {
  color: #fff;
}

/* line 58, ../.sass/00-main.scss */
.icon-soundcloud {
  color: #fc3f00;
}

/* line 62, ../.sass/00-main.scss */
.icon-facebook-sign {
  color: #3B5998;
}

/* line 67, ../.sass/00-main.scss */
.current-user img {
  height: 25px;
}

/* line 72, ../.sass/00-main.scss */
.loader {
  width: 150px;
  margin: 0 auto 20px auto;
  text-align: center;
}

/* line 78, ../.sass/00-main.scss */
.room-header {
  position: relative;
  margin-bottom: 20px;
}
/* line 11, ../.sass/00-main.scss */
.room-header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 84, ../.sass/00-main.scss */
.room-header h1 {
  float: left;
  margin: 0;
}

/* line 90, ../.sass/00-main.scss */
.room-users {
  float: left;
  width: 300px;
  margin-left: 20px;
}
/* line 95, ../.sass/00-main.scss */
.room-users .user-avatar {
  width: 50px;
  height: 50px;
}

/* line 101, ../.sass/00-main.scss */
.room-mute {
  width: 60px;
  float: right;
  font-size: 56px;
}
/* line 106, ../.sass/00-main.scss */
.room-mute a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
/* line 110, ../.sass/00-main.scss */
.room-mute a:hover {
  text-decoration: none;
}

/* line 118, ../.sass/00-main.scss */
.track {
  position: relative;
  height: 100px;
  margin-bottom: 10px;
  padding: 0 100px;
  border-right: 3px solid;
  border-color: #f09609;
}
/* line 126, ../.sass/00-main.scss */
.track.track-playing {
  border-color: #5bb75b;
}
/* line 129, ../.sass/00-main.scss */
.track.track-playing .track-vote-count {
  line-height: 100px;
}
/* line 133, ../.sass/00-main.scss */
.track.track-playing .waveform {
  display: block;
}
/* line 139, ../.sass/00-main.scss */
.track.track-yt .track-artwork {
  top: 12px;
  height: auto;
}

/* line 146, ../.sass/00-main.scss */
.track-artwork {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  text-align: center;
}

/* line 155, ../.sass/00-main.scss */
.track-info {
  position: relative;
  padding: 0 10px;
  height: 100%;
  line-height: 100px;
}
/* line 160, ../.sass/00-main.scss */
.track-info h3 {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  vertical-align: middle;
  z-index: 1;
}
/* line 170, ../.sass/00-main.scss */
.track-info h3 a {
  color: inherit;
}
/* line 172, ../.sass/00-main.scss */
.track-info h3 a:hover {
  text-decoration: none;
}
/* line 178, ../.sass/00-main.scss */
.track-info .waveform {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.3;
  z-index: 0;
}

/* line 191, ../.sass/00-main.scss */
.track-vote {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  text-align: center;
}
/* line 198, ../.sass/00-main.scss */
.track-vote a {
  font-size: 4em;
  vertical-align: middle;
}
/* line 201, ../.sass/00-main.scss */
.track-vote a:hover {
  text-decoration: none;
}
/* line 206, ../.sass/00-main.scss */
.track-vote .track-vote-count {
  font-size: 2em;
}

/* line 212, ../.sass/00-main.scss */
div.chat-box {
  position: fixed;
  top: 70px;
  right: 0;
  width: 500px;
  height: 500px;
  padding: 5px;
  z-index: 2;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
}
/* line 222, ../.sass/00-main.scss */
div.chat-box.minimized {
  right: -460px;
}
/* line 225, ../.sass/00-main.scss */
div.chat-box.minimized:hover {
  right: -420px;
}
/* line 230, ../.sass/00-main.scss */
div.chat-box.maximized {
  right: 0;
}
/* line 233, ../.sass/00-main.scss */
div.chat-box.maximized .chat-btn {
  display: none;
}
/* line 238, ../.sass/00-main.scss */
div.chat-box .chat-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  font-size: 28px;
  z-index: 1;
}
/* line 247, ../.sass/00-main.scss */
div.chat-box .minimize-btn {
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 28px;
  text-decoration: none;
  z-index: 1;
}
/* line 256, ../.sass/00-main.scss */
div.chat-box .chat {
  height: 450px;
  margin: 0;
  overflow-y: scroll;
}
/* line 262, ../.sass/00-main.scss */
div.chat-box form {
  height: 40px;
  text-align: center;
}
/* line 265, ../.sass/00-main.scss */
div.chat-box form input {
  width: 400px;
}

/* line 271, ../.sass/00-main.scss */
.chat-message {
  position: relative;
  min-height: 50px;
  padding-left: 60px;
  margin-bottom: 10px;
}
/* line 276, ../.sass/00-main.scss */
.chat-message .user-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
/* line 284, ../.sass/00-main.scss */
.chat-message .message-contents .small-date {
  font-size: 0.7em;
  line-height: 1em;
}
/* line 288, ../.sass/00-main.scss */
.chat-message .message-contents p {
  margin: 0;
}

/* line 294, ../.sass/00-main.scss */
footer {
  margin-top: 40px;
}
/* line 296, ../.sass/00-main.scss */
footer .well {
  display: inline-block;
}
