* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

.track{
    position: relative;
    height: 64px;
    width: 100%;
    padding-left: 64px;
    margin-bottom: 5px;
    img {
        position: absolute;
        top: 0;
        left:0;
        height: 100%;
        width: 64px;
        vertical-align: top;
    }

    p{
        margin-bottom: 2px;
    }
}

.track-info{
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.track-info-user {
    
}

.waveform {
    height: 200px;
}

.scattribution{
    position:absolute;
    bottom:0;
}

a.madewith_badge{
    top: inherit;
    right:inherit;
    bottom:0;
    left: 115px;
}