<template name="header">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="pull-left">
                    <a href="{{urlFor 'roompicker'}}" class="brand">DrumNChat α</a>
                    {{#if currentRoom}}
                        {{> trackform}}
                    {{/if}}
                </div>
                {{> headerUser}}
            </div>
        </div>
    </div>
</template>

<template name="headerUser">
    <ul class="nav pull-right">
        {{#if currentUser}}
        <li class="current-user">
            <a href="#">
                {{userAvatar currentUser}} {{currentUser.profile.name}}
            </a>
        </li>
        <li><a href="#" class="disconnect"><i class="icon-off"></i> {{__ "logout"}}</a></li>
        {{else}}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-off"></i> {{__ "login"}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" class="social-item" data-service="facebook"><i class="icon-facebook-sign"></i> Facebook</a></li>
                <li><a href="#" class="social-item" data-service="soundcloud"><i class="icon-soundcloud"></i> Soundcloud</a></li>
                <li><a href="#" class="social-item" data-service="google"><i class="icon-google-plus"></i> Google</a></li>
            </ul>
        </li>
        {{/if}}
    </div>
</template>