<template name="tracklist">
    <div class="tracklist">
        {{#each tracks}}
            {{> track}}
        {{/each}}
    </div>
</template>

<template name="track">
    <div class="track {{#if playing}}track-playing{{/if}}">  
        <img class="track-artwork" src="{{artwork}}" alt="{{title}}">
        <div class="track-info">
            <div class="waveform"></div>
            <h3 class="track-info-title" title="{{sc.title}}"><a href="{{sc.permalink_url}}" target="_blank">{{sc.title}}</a></h3>
        </div>
        <div class="track-vote">
            {{#unless playing}}
            <a href="#"><i class="icon-double-angle-up"></i></a>        
            {{/unless}}
            <p class="track-vote-count">{{votes.length}}</p>
        </div>
    </div>

</template> 