<template name="connect">
    {{#if currentUser}}
    {{currentUser.profile.name}}
    <a href="#" class="disconnect">Logout</a>
    {{else}}
    <a href="#" class="connect" data-service="soundcloud"><img src="img/soundcloud.png" alt="Connect With Soundcloud"></a>
    <a href="#" class="connect" data-service="facebook"><img src="img/facebook.png" alt="Connect With Facebook"></a>
    <a href="#" class="connect" data-service="google"><img src="img/google.png" alt="Connect With Google"></a>
    {{/if}}
</template>   