<template name="footer">
    <footer>
        <div class="container">
            <div class="well">
                Made with love by <a href="mailto:sylvain.gizard@gmail.com">Sylvain Gizard</a>
            </div>        
            <div class="well pull-right">
                <a href="http://soundcloud.com" target="_blank">
                    <img src="/img/powered_by_black.png" alt="SoundCloud">
                </a>
            </div>
            <div class="well pull-right">
                <a href="http://youtube.com" target="_blank">
                    <img src="/img/pwrdByYT-stack-black.png" alt="YouTube">
                </a>
            </div>
        </div>
    </footer>
</template>