<template name="rooms">
    <ul class="nav nav-pills" style="display: inline-block;vertical-align: top;">
    {{#each rooms}}
        {{> room}}
    {{/each}}    
    </ul>
    <form action="#" style="display: inline-block;vertical-align: top;">
        <div class="input-append">
            <input class="input-medium" type="text" required>
            <button class="btn" type="submit">+</button>
        </div>
    </form>
</template>

<template name="room">
    <li class="{{#if active}}active{{/if}}">
        <a href="#" data-roomId="{{this._id}}">{{this.name}}</a>
    </li>
</template>