<template name="playlist">
  <div class="playlist">
    {{#each tracks}}
      {{> track}}
    {{/each}}
  </div>
</template>

<template name="track">
  <div class="track {{#if playing}}playing{{/if}}">  
    <img class="artwork" src="{{artwork}}" alt="{{title}}">
    <div class="track-info">
      <p class="track-info-user">
        <a href="{{sc.user.permalink_url}}" target="_blank">{{sc.user.username}}</a>
      </p>
      <p class="track-info-title">
        <a href="{{sc.permalink_url}}" target="_blank">{{sc.title}}</a>
      </p>
      <p>{{votes.length}} {{#each voters}} {{user-avatar this "tiny"}} {{/each}}</p>
    </div>
    {{#unless playing}}
    <div class="track-vote">
      <i class="icon-circle-arrow-up"></i>
    </div>
    {{/unless}}
  </div>
</template>     

<template name="form">
    <form action="#" class="form-inline sc-form">
        <input class="input-xlarge" type="text" required placeholder="Souncloud URL">
        <button type="submit" class="btn">Add</button>
    </form>
</template>     
