<template name="playlist">
  <div class="playlist">
    {{#each tracks}}
      {{> track}}
    {{/each}}
  </div>
</template>

<template name="track">
  <div class="track">  
    <img src="{{artwork}}" alt="{{title}}">
    <div class="track-info">
      <p class="track-info-user">
        {{sc.user.username}}
      </p>
      <p class="track-info-title">
        {{sc.title}}
      </p>
      <p>{{votes}}</p>
    </div>
  </div>
</template>     

<template name="form">
    <form action="#">
        <input type="text" name="track-url" required>
        <button type="submit">Ajouter</button>
    </form>
</template>     
