<template name="room">
    {{#isolate}}
        <div class="room-header">
            <h1>{{room.name}} <small>{{userCount}} {{__ "user-s"}}</small></h1>
            <div class="room-mute">
                <a href="#" class="room-mute-btn">
                    {{#if muted}}
                        <i class="icon-volume-off"></i>
                    {{else}}
                        <i class="icon-volume-up"></i>
                    {{/if}}
                </a>
            </div>
        </div>
    {{/isolate}}
    {{> tracklist}}
    {{> chat}}
</template>