<template name="chat">
    <div class="well chat-box minimized">
        <span class="badge badge-info chat-btn"><i class="icon-comment"></i></span>
        <a href="#" class="minimize-btn"><i class="icon-circle-arrow-right"></i></a>
        <ul class="chat unstyled">
            {{#each messages}}
                {{> chatMessage}}
            {{/each}}
        </ul>
        {{> chatForm}}
    </div>
</template>

<template name="chatMessage">
    <li class="chat-message">
        {{userAvatar chatUser}}
        <div class="message-contents">
            <p class="small-date">{{dateAgo date}}</p>
            <p>{{message}}</p>
        </div>
    </li>
</template>

<template name="chatForm">
    <form action="#" class="form-inline">
        <div class="input-append">
            <input type="text" class="input-large" required>
            <button type="submit" class="btn btn-success">{{__ "chat-send"}}</button>
        </div>
    </form>
</template>